/* Insert your pool's unique CSS here */
.nav-side-menu .brand { padding-left: 2px;text-align: left;font-size: 16px;}
.nav-side-menu .brand img{width: 40px;height: 40px;}
#top-bar {font-size: 16px;padding: 0 2px;}

.nav-side-menu .poolop { 
     background-color: #014e71;
     text-align: center;
     font-size: 14px;
     color: #fff;
  }
.poolop a {
    color: #19f12b;
}

